* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size:16px;
  
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: #F0F0F0;
}

.padding{
    padding-top: 36px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
}

.border-radius-toppanel{
    border-radius: 10px 10px 0px 0px; 
}

.border-radius-bottomleftpanel{
    @media only screen and (min-width: 501px) {
        border-radius: 0px 0px 0px 10px; 
    }
}

.border-radius-bottomrightpanel{
    border-radius: 0px 0px 10px 0px; 
    @media only screen and (max-width: 500px) {
        border-radius: 0px 0px 10px 10px; 
    }
    
}